
* {
    -fx-font-family: "SF Pro Display Regular";
}


.body {
    -fx-background-color: #F6F6F6;
    -fx-overflow:hidden;
}

.sidebar {
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 0 23 23 0;
    -fx-padding: 12 0 0 0;
    -fx-border-width: 1;
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 0 23 23 0;
}

.burger-menu {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0 0 10 0;
    -fx-cursor: hand;
}

.sidebar-item {
    -fx-padding: 0;
    -fx-cursor: hand;
    -fx-opacity: 0.5;
}

.active {
    -fx-opacity: 1;
}



.sidebar-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.sidebar-button:hover {
    -fx-background-color: transparent;
}

.header {
    -fx-padding: 40 30 0 0;
    -fx-spacing: 30;
}
#outer_controls {
    -fx-padding: 0 0 15 0;
}

#controls {
    /*
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 50;*/
    -fx-padding: 7 10 0 10;
    -fx-font-weight: bold;
    -fx-spacing: 8;
}

.controls_button {
    -fx-background-radius: 100;
    -fx-pref-height: 14;
    -fx-max-height: 14;
    -fx-min-height: 14;
    -fx-pref-width: 14;
    -fx-max-width: 14;
    -fx-min-width: 14;
    -fx-cursor: hand;
    -fx-background-color: #dddddd;
}

#closeBtn {
    -fx-background-color: #e4342b;
}

#maximizeBtn {
    -fx-background-color: #5bc75a;
}

#minimizeBtn {
    -fx-background-color: #f0c643;
}

.left_header {
    -fx-spacing: 10;
}

.right_header {
    -fx-spacing: 10;
}

.profile_header {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 50;
    -fx-padding: 4 20 4 20;
    -fx-font-weight: bold;
    -fx-spacing: 5;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 4);
}

.profile_header .label {
    -fx-font-weight: bold;
}

.header_button {
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
    -fx-min-height: 30;
    -fx-max-height: 30;
    -fx-min-width: 30;
    -fx-max-width: 30;
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 4);
}

.profile_button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 4);
}

.dropdown_button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.page {
    -fx-padding: 30;
}

#dropdown {

}

.dropdown_item {

}

.subtitle {
    -fx-font-weight: bold;
    -fx-font-size: 2;
}

.inputfield {
    -fx-background-color: "";
    -fx-background-radius:"";
    -fx-padding:"";
}