
* {
    -fx-font-family: "SF Pro Display Regular";
}

.body {
    -fx-background-color: #F6F6F6;
}

.sidebar {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 0 25 25 0;
    -fx-padding: 40 0 0 0;
}

.burger-menu {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0 0 20 0;
    -fx-cursor: hand;
}

.sidebar-item {
    -fx-padding: 0;
    -fx-cursor: hand;
    -fx-opacity: 0.5;
}

.active {
    -fx-opacity: 1;
}

.active .label {
    -fx-font-weight: bold;
}

.active.label {
    -fx-font-family: "SF Pro Display Bold"
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.sidebar-button:hover {
    -fx-background-color: transparent;
}