.kalender_item {
    -fx-pref-width: 30px;
    -fx-min-width: 20px;
    -fx-pref-height: 20px;
    -fx-min-height: 20px;
    -fx-background-radius: 999px;
    -fx-alignment: CENTER;
    -fx-cursor: hand;
    -fx-font-size: 10;
}

.kalender_item:hover {
    -fx-background-color: rgba(203, 213, 225, 0.25);
}

.notification_item {
    -fx-pref-height: 30px;
    -fx-min-height: 30px;
    -fx-background-radius: 999px;
    -fx-alignment: CENTER_LEFT;
    -fx-cursor: hand;
    -fx-font-size: 10;
    -fx-background-color: rgba(228, 228, 228, 0.75);

}

.notification_icon {
    -fx-pref-width: 5px;
    -fx-min-width: 5px;
    -fx-max-width: 5px;
    -fx-pref-height: 5px;
    -fx-min-height: 5px;
    -fx-max-height: 5px;
    -fx-background-radius: 999px;
    -fx-background-color: green;
}