
.btn-activeer {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.btn-activeer:hover {
    -fx-background-color: #45a049;
}

.btn-deactiveer {
    -fx-background-color: #ff9800;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.btn-deactiveer:hover {
    -fx-background-color: #e68a00;
}

.btn-blokkeer {
    -fx-background-color: #E31B35;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.btn-blokkeer:hover {
    -fx-background-color: #da190b;
}

.button:disabled {
    -fx-opacity: 0.5;
    -fx-cursor: default;
}
