.task_root {
    -fx-max-width: 850;
}

.filter-container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 30;
    -fx-padding: 6;
    -fx-spacing: 2;
}

.filter-knop {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 6 16 6 16;
    -fx-font-size: 13px;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.filter-knop:hover {
    -fx-background-color: #F6F6F6;
}

.filter-knop-actief {
    -fx-background-color: #F6F6F6;
    -fx-border-color: transparent;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 6 16 6 16;
    -fx-font-size: 13px;
    -fx-cursor: hand;
    -fx-text-fill: #1A1A1A;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 6, 0, 0, 1);
}
