@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';

:root {
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #000;
  transition: background-color 5000s ease-in-out 0s;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../public/fonts/sfpro/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../public/fonts/sfpro/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@theme {
  --color-bg-white: #f6f6f6;
  --color-delaware_red: #e31b35;
  --font-delaware: 'Questrial', sans-serif;
  --color-delaware_dark_red: rgba(174, 28, 48, 0.5);
  --breakpoint-3xl: 1800px;
  --font-sfpro: 'SF Pro Display', sans-serif;
}

@media (prefers-color-scheme: dark) {
}

.scroll-hidden {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}
