@import "tailwindcss";

:root {
}

@theme {
    --color-bg-white: #F6F6F6;
    --color-delaware_red: #E31B35;
    --color-delaware_dark_red: rgba(174, 28, 48, 0.5);
    --breakpoint-3xl: 1800px;
}

@media (prefers-color-scheme: dark) {

}