
* {
    -fx-font-family: "SF Pro Display Regular";
}


.body {
    -fx-background-color: #F6F6F6;
}

.login_body {
    -fx-background-color: #F6F6F6;
    -fx-padding: 12 0 0 0;
}

.sidebar {
    -fx-background-color: #E31B35;
    -fx-background-radius: 0 23 23 0;
    -fx-padding: 12 7 7 7;
    -fx-border-width: 1;
    -fx-border-color: #E31B35;
    -fx-border-radius: 0 23 23 0;
}

.burger-menu {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0 0 10 0;
    -fx-cursor: hand;
}

.sidebar-item {
    -fx-padding: 0;
    -fx-cursor: hand;
    -fx-opacity: 0.75;
    -fx-background-radius: 30px;
}

.active {
    -fx-opacity: 1;
    -fx-background-color: rgba(174, 28, 48, 0.5);
}
.sidebar_label {
    -fx-text-fill: white;
}



.sidebar-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.sidebar-button:hover {
    -fx-background-color: transparent;
}

.header {
    -fx-padding: 40 30 0 0;
    -fx-spacing: 30;
}

#outer_controls {
    -fx-padding: 0 0 15 0;
}

#controls {
    /*
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 50;*/
    -fx-padding: 7 10 0 10;
    -fx-font-weight: bold;
    -fx-spacing: 8;
}

.controls_button {
    -fx-background-radius: 999px;
    -fx-pref-height: 14;
    -fx-max-height: 14;
    -fx-min-height: 14;
    -fx-pref-width: 14;
    -fx-max-width: 14;
    -fx-min-width: 14;
    -fx-cursor: hand;
    -fx-background-color: #dddddd;
}

#closeBtn {
    -fx-background-color: #e4342b;
    -fx-border-color: #b62b24;
    -fx-border-radius: 999px;
}

#maximizeBtn {
    -fx-background-color: #5bc75a;
}

#minimizeBtn {
    -fx-background-color: #f0c643;

}

.left_header {
    -fx-spacing: 10;
}

.right_header {
    -fx-spacing: 10;
}

.profile_header {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 50;
    -fx-padding: 4 20 4 20;
    -fx-font-weight: bold;
    -fx-spacing: 5;
    -fx-border-color: rgba(203, 213, 225, 0.49);
    -fx-border-radius: 50;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 4);
}

.profile_header .label {
    -fx-font-weight: bold;
}

.header_button {
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
    -fx-min-height: 30;
    -fx-max-height: 30;
    -fx-min-width: 30;
    -fx-max-width: 30;
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 4);
}

.notificatie-badge {
    -fx-background-color: #E31B35;
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 9px;
    -fx-font-weight: bold;
    -fx-padding: 1 4 1 4;
    -fx-min-width: 16;
    -fx-min-height: 16;
    -fx-alignment: center;
    -fx-translate-x: 8;
    -fx-translate-y: -8;
}

.profile_button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-pref-height: 30;
    -fx-pref-width: 30;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 4);
}

.dropdown_button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.page {
    -fx-padding: 30;
}


.subtitle {
    -fx-font-weight: bold;
    -fx-font-size: 2;
}

.inputfield {
    -fx-background-color: transparent;
    -fx-background-radius:none;
    -fx-padding: 0;
}

.login-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
    -fx-padding: 40;
    -fx-spacing: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 20, 0, 0, 5);
    -fx-max-width: 300;
    -fx-max-height: 400;
}

.account-card {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;
    -fx-padding: 40;
    -fx-spacing: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 20, 0, 0, 5);
    -fx-max-width: 600;
    -fx-max-height: 500;
}

.login-page, .account-page {
    -fx-background-color: #F0F0F0;
    -fx-alignment: CENTER;
}

.login-title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #222222;
    -fx-padding: 0 0 10 0;
}

.text-field, .password-field {
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 50;
    -fx-border-color: transparent;
    -fx-padding: 12 20 12 20;
    -fx-font-size: 14px;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 2);
}

.text-field:focused, .password-field:focused {
    -fx-background-color: #EBEBEB;
}

.login-btn {
    -fx-background-color: #E31B35;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 50;
    -fx-padding: 14 0 14 0;
    -fx-cursor: hand;
}

.login-btn:hover {
    -fx-background-color: #b3172b;
}

#profile_popup {
    -fx-background-color: #F0F0F0;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-padding: 10;
    -fx-spacing: 5;
    -fx-border-color: rgba(203, 213, 225, 0.49);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 20, 0, 0, 5);
    -fx-min-width: 160;
}

.popup-item {
    -fx-padding: 10 15 10 15;
    -fx-spacing: 12;
    -fx-alignment: CENTER-LEFT;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.popup-item:hover {
    -fx-background-color: #E4E4E4;
}

.popup-item .label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

#admin_landingbox {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
    -fx-padding: 10 20;
    -fx-spacing: 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 30, 0, 0, 10);
    -fx-max-width: 400;
    -fx-max-height: 250;
}

.admin_landingitem {
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 10;
    -fx-padding: 10 0 10 0;
    -fx-cursor: hand;
}

#admin_landing_title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;

}

.popup-item .ikonli-font-icon {
    -fx-icon-color: #222222;
}

.popup-item {
    -fx-pref-width: 160;


}

.popup-item:hover {
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-background-radius: 10;
}


/*page titel */
.page_title {
    -fx-padding: 12 0 12 0;
    -fx-alignment: center-left;
    -fx-font-weight: bold;
    -fx-font-size: 40;
    -fx-spacing: 30;
}

.page_title_title {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-min-width: 150;
    -fx-pref-width: 150;
}

.date_container {
    -fx-background-radius: 999px;
    -fx-border-radius: 999px;
    -fx-border-color: rgba(203, 213, 225, 0.49);
    -fx-border-width: 1px;
    -fx-padding: 6 16 6 16;
    -fx-alignment: center;
    -fx-text-fill: #2c3e50;
    -fx-spacing: 6;
    -fx-background-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 10, 0, 0, 4);
}

.page_date {
    -fx-font-size:   13px;
    -fx-text-fill:   #2c3e50;
    -fx-font-weight: bold;
}

.date_icon {
    -fx-icon-color: black;
}

.editButton {
    -fx-background-color: #E31B35;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 24;
    -fx-border-radius: 24;
    -fx-padding: 14 0 14 0;
    -fx-cursor: hand;
}

.editButton:hover {
    -fx-background-color: #af162a;
}

